<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="jpfaqCommentForm">
        <h4 class="jpfaqCommentFormIntroHeader">
            <f:translate key="tx_jpfaq_question_commentform_intro"/>
        </h4>
        <p class="jpfaqCommentFormIntroText">
            <f:translate key="tx_jpfaq_question_commentform_intro2"/>
        </p>

        <span class="jpfaqCommentFormClose"><i class="fa fa-times" aria-hidden="true"></i></span>

        <div class="form-group">
            <f:render partial="FormErrors" arguments="{object:Questioncomment}"/>

            <f:form action="addComment" class="jpfaqQuestionComment" id="jpfaqQuestionCommentForm{question.uid}" name="newQuestioncomment" object="{newQuestioncomment}" arguments="{question:question, newQuestioncomment:newQuestioncomment, pluginUid:currentUid}">
                <f:render partial="Questioncomment/FormFields"/>
                <f:form.submit value="{f:translate(key: 'tx_jpfaq_submit_comment')}" class="jpfaqSubmitComment btn btn-primary" id="jpfaqSubmitComment{question.uid}"/>
            </f:form>
        </div>
    </div>
</html>
