/*
***********************************************************
Title: jpfaq.css
Author: Jacco van der Post - www.id-webdesign.nl
Date: may 2011 - feb 2022
***********************************************************
*/

ul.jpfaqList {
	margin: 0;
	padding: 0 0 10px 0;
}

.jpfaqList > li {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

.jpfaqList > li h3.toggleTrigger {
	background: url('/typo3conf/ext/jpfaq/Resources/Public/Images/plus.png') no-repeat left center;
	padding-left: 20px;
	margin-bottom: 3px;
	cursor: pointer;
}

.jpfaqList > li h3.questionUnfolded {
	background: url('/typo3conf/ext/jpfaq/Resources/Public/Images/min.png') no-repeat left center;
}

.jpfaqList li ul {
	list-style-type: disc;
	margin-bottom: 1rem;
}

.tx-jpfaq .jpfaqAll {
	margin-bottom: 1rem;
}

.tx-jpfaq .jpfaqShowAll,
.tx-jpfaq .jpfaqHideAll {
	background: url('/typo3conf/ext/jpfaq/Resources/Public/Images/all_plus.png') no-repeat left center;
	padding-left: 20px;
	cursor: pointer;
}

.tx-jpfaq .jpfaqHideAll {
	background: url('/typo3conf/ext/jpfaq/Resources/Public/Images/all_min.png') no-repeat left center;
}

.tx-jpfaq label,
.tx-jpfaq .jpfaqHideAll,
.tx-jpfaq .toggleTriggerContainer,
.tx-jpfaq #jpfaq-filter-count,
.jpfaqFinfo {
	display: none;
}

.tx-jpfaq form label {
	display: block;
}

.tx-jpfaq .jpfaqSpinner {
	background-image: url('/typo3conf/ext/jpfaq/Resources/Public/Images/jpfaqSpinner.gif');
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	margin: 10% 25%;
	display: block;
}

.jpfaqQuestionCommentContainer,
.jpfaqCatCommentContainer {
	position: relative;
	max-width: 480px;
}

.jpfaqAddCommentForm {
	display: none;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid #cccccc;
}

.jpfaqAddCommentForm textarea {
	width: 100%;
}

.jpfaqCommentFormIntroHeader,
.jpfaqCatCommentFormIntroHeader {
	margin: 10px 0 0;
}

.jpfaqCommentFormIntroText {
	font-size: 90%;
}

.jpfaqQuestionComment label,
.jpfaqCatComment label {
	margin-top: 10px;
}

.jpfaqCommentFieldWarning {
	border: 2px solid red !important;
}

.jpfaqQuestionHelpfulText {
	font-size: 90%;
}

.jpfaqQuestionHelpful {
	margin-left: 10px;
}

.jpfaqAnswerIsHelpfulThankYouText {
	font-size: 90%;
	font-weight: bold;
}

/* include fontawesome for the close buttons */
.jpfaqCatCommentFormClose .fa-times,
.jpfaqCommentFormClose .fa-times,
.jpfaqThanks .fa-times {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	font-size: 120%;
}

.jpfaqThanks {
	padding: 16px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
}

.jpfaqThanksText {
	font-weight: bold;
}

.jpfaqThanksComment {
	font-style: italic;
}

.jpfaqThanksComment,
.jpfaqThanksNameEmail {
	font-size: 80%;
}