<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">

    <f:if condition="{showSearchForm}">
        <f:render partial="SearchForm" arguments="{showNumberOfResults: showNumberOfResults}" />
    </f:if>
    <h2 class="jpfaqCategory">{category}</h2>
    <div class="jpfaqAll">
        <div class="jpfaqShowAll">
            <f:translate key="jpfaq_showAll"/>
        </div>
        <div class="jpfaqHideAll">
            <f:translate key="jpfaq_hideAll"/>
        </div>
    </div>
    <ul class="listCategory{categoryUid}">
        <f:for each="{questions}" as="question">
            <li>
                <h3 class="toggleTrigger">{question.question}</h3>
                <div class="toggleTriggerContainer{categoryUid}">
                    <div class="jpfaqAnswer">
                        <f:format.html>{question.answer}</f:format.html>
                    </div>
                </div>
            </li>
        </f:for>
    </ul>

</f:section>
</html>