<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/Jp/Jpfaq/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h2 class="jpfaqCategory" itemprop="about">
        <f:for each="{categories}" as="category">{category.category}<br/></f:for>
    </h2>

    <f:if condition="{categoryDetail} == 1)">
        <f:then>
            <ul class="jpfaqList">
                <f:for each="{questions}" as="question">
                    <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                    <f:render partial="Question/Question" arguments="{_all}"/>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <f:if condition="({settings.flexform.answerView} == 'collapse')">
                <f:then>
                    <div class="jpfaqAll">
                        <div class="jpfaqShowAll">
                            <f:translate key="jpfaq_showAll"/>
                        </div>
                        <div class="jpfaqHideAll">
                            <f:translate key="jpfaq_hideAll"/>
                        </div>
                    </div>
                    <ul class="jpfaqList">
                        <f:for each="{questions}" as="question">
                            <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                            <f:render partial="Question/Question" arguments="{_all}"/>
                        </f:for>
                    </ul>
                </f:then>
                <f:else>
                    <ul class="jpfaqList">
                        <f:for each="{questions}" as="question" iteration="iterator">
                            <f:if condition="({iterator.total} > 3)">
                                <f:then>
                                    <f:if condition="({iterator.cycle} <= 3)">
                                        <f:if condition="({iterator.index} < 2)">
                                            <f:then>
                                                <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                                                <f:render partial="Question/Question" arguments="{_all}"/>
                                            </f:then>
                                            <f:else>
                                                <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                                                <f:render partial="Question/Question" arguments="{_all}"/>

                                                <f:link.action action="categoryDetail" controller="Question" pageUid="{settings.categorySingleViewPid}" arguments="{selectedCategory: '{settings.flexform.selectedCategory}',  categoryDetail: 1, singleViewPid: '{settings.singleViewPid}', gtag: gtag}">
                                                    <f:translate key="tx_jpfaq_comment_viewAll" />
                                                </f:link.action>
                                            </f:else>
                                        </f:if>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                                    <f:render partial="Question/Question" arguments="{_all}"/>
                                </f:else>
                            </f:if>
                        </f:for>
                    </ul>
                </f:else>
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{showCategoriesCommentForm}">
        <f:render partial="Categorycomment/LoadCommentFormLink" arguments="{currentUid: currentUid, restrictToCategories: restrictToCategories}"/>
    </f:if>
</f:section>
</html>
