<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/Jp/Jpfaq/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{showSearchForm}">
        <f:render partial="SearchForm" arguments="{showNumberOfResults: showNumberOfResults}"/>
    </f:if>

    <h2 class="jpfaqCategory" itemprop="about">
        <f:for each="{categories}" as="category">{category.category}<br/></f:for>
    </h2>

    <f:if condition="({settings.flexform.answerView} == 'collapse')">
        <div class="jpfaqAll">
            <div class="jpfaqShowAll">
                <f:translate key="jpfaq_showAll"/>
            </div>
            <div class="jpfaqHideAll">
                <f:translate key="jpfaq_hideAll"/>
            </div>
        </div>
    </f:if>

    <ul class="jpfaqList">
        <f:if condition="({settings.flexform.categoryView} == 'collapse')">
            <f:then>
                <f:for each="{questions}" as="question">
                    <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                    <f:render partial="Question/Question" arguments="{_all}"/>
                </f:for>
            </f:then>
            <f:else>
                <f:for each="{questions}" as="question" iteration="iterator">
                    <f:if condition="({iterator.total} > 3)">
                        <f:then>
                            <f:if condition="({iterator.cycle} <= 3)">
                                <f:then>
                                    <f:if condition="({iterator.index} < 2)">
                                        <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                                        <f:render partial="Question/Question" arguments="{_all}"/>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                                    <f:render partial="Question/Question" arguments="{_all}"/>

                                    <f:link.action action="categoryDetail" controller="Question" arguments="{_all}">
                                        <f:translate key="tx_jpfaq_comment_viewAll" />
                                    </f:link.action>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <n:excludeAlreadyDisplayedQuestions question="{question}"/>
                            <f:render partial="Question/Question" arguments="{_all}"/>
                        </f:else>
                    </f:if>
                </f:for>
            </f:else>
        </f:if>
    </ul>

    <f:if condition="{showCategoriesCommentForm}">
        <f:render partial="Categorycomment/LoadCommentFormLink" arguments="{currentUid: currentUid, restrictToCategories: restrictToCategories}"/>
    </f:if>
</f:section>
</html>
