<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="jpfaqCatCommentContainer{currentUid} jpfaqCatCommentContainer">
        <div class="jpfaqCatCommentContainerIntro">
            <span class="jpfaqCatCommentContainerIntroText"><f:translate key="tx_jpfaq_category_commentform_trigger_intro"/></span>
            <f:link.action action="comment" controller="Categorycomment" arguments="{catUids:restrictToCategories, pluginUid:currentUid}"
                           class="jpfaqCatCommentContainerLink" rel="nofollow">
                <f:translate key="tx_jpfaq_category_commentform_trigger_linktext"/>
            </f:link.action>
        </div>

        <div class="jpfaqAddCommentCategoryForm">
            <f:render partial="Questioncomment/Comment" />
        </div>
    </div>
</html>
